{% extends 'base-main.html' %}

{% block page_title %}Collections{% endblock %}

{% block header_imports %}
<link href="{{url_for('static', filename='css/modules/files.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block layout_content %}
<script>
    var $current_tab = $('#menu-tab-collections');
    $current_tab.addClass('menu-item-active');
    
    $("#menu-tab-fcoll").addClass('menu-item-active');
    M_COLLECT = "files";
</script>

<div class="layout-header grid-width-full">
    <div class="content_width">
        <p class="sub-heading">Viewing</p>
        <p class="heading heading-medium">Collections.</p>
        
        <div class="actions">
            <form method="post" action="post_add_collection/" class="action-input center_vertical">
                <input name="collection_name" class="" type="text" placeholder="Add new collection..." required/>
                <button><span class="ti-plus"></span></button>
            </form>
            <div class="action center_vertical">
                <p class="ti-info-alt icon center_vertical"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
</div>

<div class="contextmenu-back"></div>
<div class="contextmenu" id="ctxm-dir-item">
    <div class="contextmenu-view" id="ctxm-view-main">
        
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-open-item">
                    <p class="ti-new-window contextmenu-icon"></p>
                    <p class="contextmenu-text">Open</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-delete-item">
                    <p class="ti-trash contextmenu-icon"></p>
                    <p class="contextmenu-text">Delete</p>
                </td>
            </tr>
        </table>
        
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-quarantine-item">
                    <p class="ti-package contextmenu-icon"></p>
                    <p class="contextmenu-text">Quarantine</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-favourite-item">
                    <p class="ti-star contextmenu-icon"></p>
                    <p class="contextmenu-text">Favourite</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-item-info">
                    <p class="ti-info-alt contextmenu-icon"></p>
                    <p class="contextmenu-text">Info</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
        </table>
        
    </div>
</div>

<div class="contextmenu" id="ctxm-file-item">
    <div class="contextmenu-view" id="ctxm-view-main">
        
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-file-add-to-collection">
                    <p class="ti-plus contextmenu-icon"></p>
                    <p class="contextmenu-text">Add to collection...</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
        </table>
        
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-file-open">
                    <p class="ti-new-window contextmenu-icon"></p>
                    <p class="contextmenu-text">Open</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-delete">
                    <p class="ti-trash contextmenu-icon"></p>
                    <p class="contextmenu-text">Delete</p>
                </td>
            </tr>
        </table>
        
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-file-quarantine">
                    <p class="ti-package contextmenu-icon"></p>
                    <p class="contextmenu-text">Quarantine</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-favourite">
                    <p class="ti-star contextmenu-icon"></p>
                    <p class="contextmenu-text">Favourite</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-info">
                    <p class="ti-info-alt contextmenu-icon"></p>
                    <p class="contextmenu-text">Info</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
        </table>
        
    </div>
</div>

<div class="dropdown-back"></div>
{% endblock %}

{% block post_imports %}
<script src="{{url_for('static', filename='js/components/dir_contents_display.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/components/path_navigation.js')}}" type="text/javascript"></script>
{% endblock %}
