/* 
    Created on : 27 Jun 2018, 8:59:09 AM
    Author     : Joshua Sello
    Version    : 0.0.2
*/
 
@import "std/package"; 

/*  DEBUGGING STYLE  */
/*    * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
    }*/