/* 
    Created on : Sep 2, 2018, 8:09:34 PM
    Author     : Joshua Sello
*/
.actions {
    position: relative;
    float: left;
    display: block;
    height: 40px;
    @include fit_content_x;
    
    form {
        display: block;
        float: left;
    }
    
    .action {
        position: relative;
        float: left;
        height: 40px;
        width: 40px;
        transition-duration: .5;
        
        .action-cover {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            display: block;
            background: transparent;
            border: none;
            
            .icon {
                text-align: center;
                cursor: pointer;
                color: $def-grey-2;
                transition-duration: .5
            }

            &:hover {
                .icon {
                    color: #000;
                }
            }
        }
    }
    
    .action-input {
        position: relative;
        display: block;
        float: left;
        width: 300px;
        height: 30px;
        
        input {
            position: absolute;
            padding-left: 40px;
            top: 0px;
            left: 0px;
            width: calc(100% - 41px);
            height: calc(100% - 1px);
            border: 1px $def-grey-3 solid;
            background: #fff;
            @include border_radius(100px);
        }
        button {
            position: absolute;
            top: 1.5px;
            left: 0px;
            height: 30px;
            width: 30px;
            border: none;
            background: transparent;
        }
    }
    
    .action-button, .action-button-wicon {
        position: relative;
        float: left;
        margin: 0px 10px;
        height: 30px;
        background: transparent;
        color: $def-grey-2;
        border: 1px $def-grey-2 solid;
        transition-duration: .5s;
        transition-property: all;
        cursor: pointer;
        @include border_radius(100px);
        @include fit_content_x;
        
        .icon {
            margin-right: 10px;
        }
        
        &:hover {
            color: $def-color-2;
            border: 1px $def-color-2 solid;
        }
    }
    .action-button {
        padding: 0px 10px;
    }
    .action-button-wicon {
        padding: 0px 20px 0px 10px;
    }
    
    .pill {
        position: relative;
        float: left;
        margin: 0px 5px;
        padding: 0px 15px;
        height: 40px;
        @include fit_content_x;
        
        .pill-count, .pill-text {
            float: left;
        }
        .pill-count {
            margin-left: 10px;
            padding: 5px;
            background: $def-color-2;
            color: #fff;
            font-size: 12px;
            min-width: 15px;
            @include border_radius(100px);
        }
    }
}

