<div class="file-card-item doc-file-card-item"
    title="{{ item["name"] }}"
    data-type="file"
    data-location="{{ item["location"] }}"
    data-quarantined="{{ item["quarantined"] }}"
    data-favourite="{{ item["favourite"] }}"
    data-category="{{ item["type"] }}"
    >
    <iframe class="doc_display" src="{{ url_for('static', filename='_file_dump/'+item["name"]) }}" seamless="seamless" frameborder="0" scrolling="no" style="overflow: hidden;"></iframe>
    <div class="cover"></div>

    <div class="item-content">
        <p class="item-text">{{ item["name"] }}</p>
        <p class="item-subtext">{{ get_size_string(item["size"]) }}</p>
    </div>
</div>