<!--Backgrounds-->
<div class="contextmenu-back"></div>
<div class="dropdown-back"></div>

<!--Folder type context menu-->
<div class="contextmenu" id="ctxm-folder-item">
    <div class="contextmenu-view" id="ctxm-folder-view-main">

        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-open">
                    <p class="ti-new-window contextmenu-icon"></p>
                    <p class="contextmenu-text">Open</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-move">
                    <p class="ti-layers contextmenu-icon"></p>
                    <p class="contextmenu-text">Copy</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-move">
                    <p class="ti-arrow-right contextmenu-icon"></p>
                    <p class="contextmenu-text">Move</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-delete">
                    <p class="ti-trash contextmenu-icon"></p>
                    <p class="contextmenu-text">Delete</p>
                </td>
            </tr>
        </table>

        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-watchlist">
                    <p class="ti-eye contextmenu-icon"></p>
                    <p class="contextmenu-text">Add to Watchlist</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-quarantine">
                    <p class="ti-package contextmenu-icon"></p>
                    <p class="contextmenu-text">Quarantine</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-favourite">
                    <p class="ti-star contextmenu-icon"></p>
                    <p class="contextmenu-text">Favourite</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-folder-info">
                    <p class="ti-info-alt contextmenu-icon"></p>
                    <p class="contextmenu-text">Info</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
        </table>

    </div>
</div>

<!--File type context menu-->
<div class="contextmenu" id="ctxm-file-item">

    <!--Collections view-->
    <div class="contextmenu-view" id="ctxm-file-view-collection">
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-head">
                    <p class="ti-angle-left contextmenu-icon ctxm-to-main"></p>
                    <p class="contextmenu-text center_vertical">Collections</p>
                    <p class="contextmenu-count">1</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-collection">
                    <p class="ti-plus contextmenu-icon"></p>
                    <p class="contextmenu-text">Photos</p>
                    <p class="contextmenu-count">1</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item empty">
                    <p class="contextmenu-text">No Collections. <a href="/">Add here.</a></p>
                </td>
            </tr>
        </table>
    </div>
    
    <!--Quarantine view-->
    <div class="contextmenu-view" id="ctxm-file-view-quarantine">
        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-head">
                    <p class="ti-angle-left contextmenu-icon ctxm-to-main"></p>
                    <p class="contextmenu-text center_vertical">Quarantine</p>
                    <p class="contextmenu-count" title="Number of files">1</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-collection">
                    <p class="ti-plus contextmenu-icon"></p>
                    <p class="contextmenu-text">Photos</p>
                    <p class="contextmenu-count">1</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item empty">
                    <p class="contextmenu-text">No Collections. <a href="/">Add here.</a></p>
                </td>
            </tr>
        </table>
    </div>

    <div class="contextmenu-view" id="ctxm-file-view-main">

        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-file-add-to-collection">
                    <p class="ti-plus contextmenu-icon"></p>
                    <p class="contextmenu-text">Add to collection...</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
        </table>

        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-file-open">
                    <p class="ti-new-window contextmenu-icon"></p>
                    <p class="contextmenu-text">Open</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-move">
                    <p class="ti-arrow-right contextmenu-icon"></p>
                    <p class="contextmenu-text">Move</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-delete">
                    <p class="ti-trash contextmenu-icon"></p>
                    <p class="contextmenu-text">Delete</p>
                </td>
            </tr>
        </table>

        <table class="contextmenu-group">
            <tr>
                <td class="contextmenu-item" id="ctxm-file-quarantine">
                    <p class="ti-package contextmenu-icon"></p>
                    <p class="contextmenu-text">Quarantine</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-add-favourite">
                    <p class="ti-star contextmenu-icon"></p>
                    <p class="contextmenu-text">Add Favourite</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-remove-favourite">
                    <p class="ti-star contextmenu-icon color_2"></p>
                    <p class="contextmenu-text color_2">Remove Favourite</p>
                </td>
            </tr>
            <tr>
                <td class="contextmenu-item" id="ctxm-file-info">
                    <p class="ti-info-alt contextmenu-icon"></p>
                    <p class="contextmenu-text">Info</p>
                    <p class="ti-angle-right contextmenu-icon-arrow"></p>
                </td>
            </tr>
        </table>

    </div>
</div>