/* 
    Created on : Sep 2, 2018, 6:33:26 PM
    Author     : Joshua Sello
*/
$NAV-MENU-WIDTH: 250px;
$NAV-MENU-WIDTH-REDUCED: 60px;


$NAV-BAR-ADJ-SCREEN-W: 850px;
$NAV-BAR-HEIGHT: 70px;
$NAV-BAR-HEIGHT-ADJ: $NAV-BAR-HEIGHT;